.main
{
    
    width:900px;
    position:absolute;
    top: 50px;
    left:50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
    color: #502439;
    text-decoration: underline;
}
.content
{
    text-align: justify;
    
    font-family:'Times New Roman', Times, serif ;
    font-size: 20px;
}
p{
    text-indent: 50px;
}
.image
{
    position:absolute;
    top:50px;
    left:950px;
}
.childhood
{
    position:absolute;
    top:400px;
    left:950px;
}
.scientist
{
    position:absolute;
    top:700px;
    left:950px;

}